<!--Inicio de estructura html de Menu (Home)-->
<header>
    <div class="header-content">
        <div class="logo">
            <h1><i class="ri-code-box-fill"></i>Code<b>Nexus</b></h1>
        </div>
        <div id="show-menu" class="menu">
            <nav>
                <ul>
                    <li><i class="fas fa-home"></i><a href="#home"> Home</a></li>
                    <li><i class="fas fa-file-alt"></i><a href="#About blog"> About Blog</a></li>
                    <li><i class="fas fa-headset"></i><a href="#footer"> Contact</a></li>
                    <li class="elemento-login"><i class="ri-user-fill"></i><a href="./html/Login.html" class="text-login"> Sign in</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="icon-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
